## ide
**/.idea
*.iml

## backend
**/target
**/logs

## front
**/*.lock
fleet-boot/fleet-boot-module-demo/src/.DS_Store
fleet-boot/fleet-boot-module-demo/src/main/.DS_Store
.gitignore
.DS_Store
.gitignore
fleet-boot/.DS_Store

# Mac OS
**/.DS_Store
